.git
.gitignore
node_modules
*/node_modules
*/*/node_modules
dist
build
*/dist
*/*/dist
coverage
*/coverage
*/*/coverage
test-results
tests
playwright-report
tmp
temp
logs
*.log
*.tsbuildinfo
.env
.venv
__pycache__
